:root {
    --color-primary: #be3144;
    --color-secondary: white;
}
nav, footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    grid-template-rows:minmax(160px, 15vh) minmax(600px, 75vh) minmax(140px,14vh);
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
header {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #be3144;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

#logo{
    img {
        width: 200px;
    }
}
form{
    text-align: center;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    & a{
        margin:0px;
    }
    & div{
        justify-self: center;
    }
    & .iconos{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & #contacto{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}