/* Variables de colores y fuentes */
:root {
    --color-secondary: #45567d;
}

:root {
    --color-primary: #be3144;
}

/* Estilos globales */

body {
    margin: 0 auto;
    width: 90%;
    background-color:#303841;
    --font-main: Arial, Helvetica, sans-serif;
}
main{
    background-color: #f0f0f0;
}
h2 {
    --font-heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif:
}

h2 {
    font-size: 2.5rem;
}

nav, footer {
    background-color: var(--color-primary);
}

body { 
    --color-text: #303841;
}

ul{
    margin: 0px;
}

ul li {
    color: white;
}

#welcome-section{
    background-color: var(--color-secondary);
    color: white;
}

.contact-link {
    color: white;
}

footer {
    color: white;
}


/* Barra de Navegaci칩n */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    & img{
        width: 100px;
        margin-left: 20px;
    }
    & div{
        display: flex;
        & input{
            border: none;
            border-radius: 20px;
            padding: 4px;
        }
    }
    & .nav-list .dropdown {
        position: relative;
        display: inline-block;
    }

    & .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ce4343;
        padding: 0;
        margin: 0;
        list-style-type: none;
        z-index: 1000;
        min-width: 265px;
    }

    & .dropdown-menu li a {
        display: block;
        text-decoration: none;
        color: black;
        margin: 0px;
        padding: 15px;
    }

    & .dropdown-menu li:hover{
        background-color: #942635;
        & a{
            color: #f0f0f0;
        }
    }

    & .dropdown:hover .dropdown-menu {
        display: block;
    }

    & #userIdentificado{
        display: none;
    }
    
}

#hamburguesa{
    display: none;
}


.nav-list {
    display: flex;
    justify-content: end;
    list-style: none;
    padding-left: 0px;
}

a {
    margin: 20px;
    text-decoration: none;
    font-family: var(--font-main)
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}


/* Secci칩n de Bienvenida */

h1 {
    margin: 0px;
}

h1 {
    font-family: var(--font-main);
    font-size: 3rem;
}

.welcome-content p {
    font-family: var(--font-main);
    font-size: 20px;
}

#welcome-section {
    width: 100%;
    height: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

/* Secci칩n de Proyectos */

#tapas {
    text-align: center;
    
    & h2{
        padding: 10px;
        box-shadow:0px 1px 15px 1px rgb(207, 207, 207);
    }
    & #filtroFav{
        background-color: #30384162;
        border-radius: 15px;
        border: none;
        padding: 5px;
    }
    & #filtroFav:hover{
        background-color: #303841c0;
    }

    & .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        & #btnAnterior{
            margin: 10px;
            padding: 10px;
            border: none;
            color: white;
            border-radius: 10px;
            cursor: pointer;
        }

        & #btnSiguiente{
            margin: 10px;
            padding: 10px;
            border: none;
            color: white;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

h2 {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

.tapasGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tapasTitle {
    display: grid;
    justify-self:center;
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 80%;
    max-width: 450px;
    
    max-height: 650px;

    font-family: var(--font-main);
    text-align: center;
    box-shadow: 2px 5px 15px 0px;
    & a img {
        width: 90%;
        max-width: 250px;
        max-height: 150px;
    }
    & .like{
        justify-self: end;
        cursor: pointer;
    }
    & .like:hover{
        color: #ccc;
    }

    & button{
        margin: 15px;
        max-height: 38px;
    }
}

.tapasTitle:hover{
    transform: translateY(-10px);
    background-color: #ebebeb;
}
#botones{
    width: 100%;
}
/* Pie de P치gina */

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    & a{
        margin:0px;
    }
    & div{
        justify-self: center;
    }
    & .iconos{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & #contacto{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

#carousel-container {
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: flex;
    justify-content: center;
}

.carousel-slide picture {
    img{
        /* object-position: 0px -150px; */
        width:100%;
    }
}

.carousel-prev, .carousel-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#ingredientes{
    li{
        color: black;
    }
}
@media screen and (width < 1200px){
    .tapasGrid{
        grid-template-columns: auto auto;
    }

}


@media screen and (width < 740px){
    .nav{
        font-size: 10px;
    }
    .tapasGrid{
        grid-template-columns: auto;
    }
    #menu{
        display: none;
    }
    .nav{
        & div{
            & input{
                display: none;
            }
        }
    }
    #hamburguesa{
        display: block;
        width: 15px;
        margin-right: 35px;
        cursor: pointer;
        & hr{
            color: #f0f0f0b4;
            width: 100%;
            height: auto;
        }
        & .nav-list{
            position: absolute;
            right: 120px;
        }
    }
    
}