
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #d8d8d8;
    border: solid 1px rgba(128, 128, 128, 0.735);
    width: 400px;
    height: 45%;
    text-align: center;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    & label{
        display: block;
        margin-top: 12px;
        font-weight: bold;
        color: #333;
        & span{
            font-size: 11px;
        }
    }

    & input{
        width: 75%;
        border-radius: 15px;
        margin-bottom: 10px;
        border: none;
    }
    
    & input:last-child{
        margin: 15px;
        width: 60%;
    }
    
    & input[type="checkbox"] {
        width: 20px;
        height: 15px;
        
    }
    
    & .error-message {
        color: red;
        font-size: 10px;
        display: none;
    }
    & p{
        margin: 0px;
    }
    
    & .error {
        border: 2px solid red;
    }
    
    & #enviar{
        cursor: pointer
    }
    
    & .incorrecto{
        background-color: rgba(255, 124, 124, 0.615);
        border: solid 1px red;
    }

    
    @media (max-width: 768px) {
        
        form {
            height: 300px;
            margin-top: 120px;
            margin-left: 0;
        }
        
        #tituloPag {
            font-size: 28px;
        }
        
        #logo img {
            height: 48px;
        }
    }
    
    
    
    @media (max-width: 480px) {
        
        #tituloPag {
            font-size: 24px;
        }
        
        form {
            width: 95%;
            padding: 15px;
            margin-top: 160px;
        }
        
        input[type="submit"] {
            padding: 12px;
            font-size: 14px;
        }
        
        a {
            font-size: 12px;
        }
    }  
}

@media screen and (max-width: 1560px){
    body{
        display: grid;
        grid-template-rows: 15vh 120vh 13vh;
    }
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    #izquierda-footer, #derecha-footer {
        padding: 0;
        text-align: center;
        flex: none;
    }

    #iconos {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1560px){
    footer{
        height: 100px;
    }
}